.vscode/
.venv
__pycache__
test
tempCodeRunnerFile.py
.claude/
ws_dump.json

menus*.json
ingame*.json
pregame*.json
*.md
*test.py
data/
general_*
ingame_*
pregame_*
local_*
websocket_*
scripts/
test_*